<a href="https://colab.research.google.com/github/lPedromiguel/Data_Science_Course_CODING_DOJO/blob/main/Cargar_Filtrar_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
bike_df = '/content/drive/MyDrive/Data science/Pandas/RailsToTrails_National Count Data_week.xlsx'
df = pd.read_excel(bike_df)
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [8]:
date_filter = df['Week of'] > '2020-07-31'

In [10]:
Filtered_DF = df[date_filter]
Filtered_DF

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605.0,239827.0,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450.0,219279.0,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754.0,241007.0,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.550000,154.948931,NaN,NaN,NaN
35,Week 36,2020-08-31,184806.0,227918.0,NaN,0.230000,123.328247,NaN,NaN,NaN
36,Week 37,2020-09-07,157345.0,207670.0,NaN,0.320000,131.983857,NaN,NaN,NaN
37,Week 38,2020-09-14,152527.0,207320.0,NaN,0.360000,135.923476,NaN,NaN,NaN
38,Week 39,2020-09-21,141072.0,207918.0,NaN,0.470000,147.384314,NaN,NaN,NaN
39,Week 40,2020-09-28,135881.0,186004.0,NaN,0.370000,136.887424,NaN,NaN,NaN
40,Week 41,2020-10-05,132239.0,182924.0,NaN,0.380000,138.328330,NaN,NaN,NaN
41,Week 42,2020-10-12,110816.0,159246.0,NaN,0.440000,143.703075,NaN,NaN,NaN
42,Week 43,2020-10-19,110761.0,141404.0,NaN,0.280000,127.665875,NaN,NaN,NaN
43,Week 44,2020-10-26,109795.0,147907.0,NaN,0.350000,134.711963,NaN,NaN,NaN
44,Week 45,2020-11-02,109766.0,154502.0,NaN,0.410000,140.755790,NaN,NaN,NaN
45,Week 46,2020-11-09,86824.0,155805.0,NaN,0.790000,179.449231,NaN,NaN,NaN
46,Week 47,2020-11-16,88122.0,97835.0,NaN,0.110000,111.022219,NaN,NaN,NaN
47,Week 48,2020-11-23,72380.0,101036.0,NaN,0.400000,139.591047,NaN,NaN,NaN
48,Week 49,2020-11-30,81871.0,84123.0,NaN,0.030000,102.750669,NaN,NaN,NaN
49,Week 50,2020-12-07,68364.0,92126.0,NaN,0.350000,134.758060,NaN,NaN,NaN
50,Week 51,2020-12-14,58063.0,73188.0,NaN,0.260000,126.049291,NaN,NaN,NaN
51,Week 52,2020-12-21,71890.0,69962.0,NaN,-0.030000,97.318125,NaN,26.728808,0.514016

In [20]:
change_filter = df['Change 2019-2020'] >= float('1')

In [21]:
Filtered_DF_2 = df[change_filter]
Filtered_DF_2

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
7,Week 8,2020-02-17,69492.0,149876.0,NaN,1.156737,215.673747,NaN,NaN,NaN
11,Week 12,2020-03-16,125440.0,367795.0,NaN,1.932039,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330.0,372783.0,NaN,1.730000,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784.0,280728.0,NaN,1.360000,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033.0,419160.0,NaN,2.170000,317.466088,NaN,NaN,NaN

In [23]:
Filtered_DF_Final = Filtered_DF[change_filter]
Filtered_DF_Final

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

** ¿Hubo alguna semana en la segunda mitad del año (después del 31 de julio de 2020) en la que el cambio fuera superior al 100 %?**

No hubo ninguna semana espués del 31 de julio de 2020 en la que el cambio fuera superior al 100%